node_modules/
dist/
.DS_Store

sites/vitepress/docs/*
!sites/vitepress/docs/.vitepress/
sites/vitepress/docs/.vitepress/*
!sites/vitepress/docs/.vitepress/config.mts
!sites/vitepress/docs/.vitepress/theme/
sites/vitepress/docs/.vitepress/theme/*
!sites/vitepress/docs/.vitepress/theme/index.ts

sites/starlight/node_modules/
sites/starlight/dist/
sites/starlight/.astro/
sites/starlight/src/content/docs/

sites/quartz/node_modules/
sites/quartz/public/
sites/quartz/content/
sites/quartz/quartz/.quartz-cache/
